.horizontal-slider {
    height: 1px;
    width: 180px;
    background: #e2e8f0;
    border-radius: 4px;
    margin: 1rem 0;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .thumb {
    height: 10px;
    width: 10px;
    background-color: #2563eb;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
  }
  
  .track {
    top: 0;
    bottom: 0;
    background: #60a5fa;
    border-radius: 4px;
  }
  
  .sal-box{
    margin: 0;
    padding: 0;
    size: 5px;
    font-size: small;
    color: gray;
  }
  