.navbar-brand img {
  border-radius: 50%;
}

.nav-link {
  font-weight: 500;
}

.nav-link.active {
  color: #5e35b1 !important; /* purple */
}

.navbar{
  border-radius: 1rem;
  width: fit-content;
}

.navy{
  align-items: center;
  justify-items: center;
}

.btnn{
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  border: none;
  background: none;
  font-size: 24px;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}



